<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>Options for the user</title>
		<style type="text/css">
			a:active,a:hover,a:visited,a:link {
				text-decoration: none;
				color: black;
			}
			button {
				background-color: white;
				color :grey;
				padding:7%;
				width: 200px;
				gap:20px;
				whitespaces:nowrap;
			}
			button:hover {
				
				background-color: black;
				color: white;
			}
			ul{
				list-style: none;			
			}
			li{
				margin-left: 20px;			
			}
			li:hover{
				cursor:pointer;			
			}
		</style>
	</head>
	<body style="font-family: sans-serif;">
		<header style="margin-top:2%">
			<div style="display: flex;padding-left:5%; padding-right:5%">
				<div style="width:65%;"><ul style=" display: flex"><li>Tejas Murkya</li><li>Siddhi Mundada</li><li>Shrushti Naik</li></ul></div>
				<div style="width:35%;;"><ul style=" display: flex; justify-content:right"><li>Login</li><li>Register</li></ul></div>
			</div>
		</header>	
		<div style="text-align:center; font-size:85px; margin-top:2%;">Cloud-Based Secure Text Transfer Using Diffie Hellman Key Exchange</div>
		<div class="container" style="font-color: #160214">
		<center>
			<br><br>
			<table>
				<tr>
					<td style="padding: 1px"><a href="upload-file"><button style="font-color: #160214">file-upload</button></a></td>
					<td style="padding: 1px"><a href="file-directory"><button style="font-color: #160214">file-directory</button></a></td>
					<td style="padding: 1px"><a href="public-key-directory"><button style="font-color: #160214">download-public-key</button></a></td>
				</tr>
			</table>
		</center>
		<br><br>
		<br>
		<div style="text-align:center; font-size:55px; margin-top:2%;">What We Provide?</div>
		<div style="text-align:center; font-family: sans-serif;">You can upload the file onto the cloud. Our webapp will encrypt the uploaded file so no hacker can steal the information of it.</div>	
	</div>
	</div>
	</body>
</html>
